<template>
    <div>
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="9" cy="9" r="9" fill="#EA4335"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 5.38889L5.38889 4L9 7.61111L12.6111 4L14 5.38889L10.3889 9L14 12.6111L12.6111 14L9 10.3889L5.38889 14L4 12.6111L7.61111 9L4 5.38889Z" fill="white"/>
        </svg>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>
div{
    transform: translateX(10px);
    display: inline-block;
}
</style>