<template>
    <span v-if="isHidden" @click="toggleVisibility">
        <svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21 13.5C21 16.3389 16.9706 20.5 12 20.5C7.02945 20.5 3 16.3361 3 13.5" stroke="#652CD4" stroke-width="2" stroke-linejoin="round"/>
            <path d="M7 22.0322L8.29725 20.2221" stroke="#652CD4" stroke-width="2" stroke-linecap="round"/>
            <path d="M18.1806 21.8101L16.8833 20" stroke="#652CD4" stroke-width="2" stroke-linecap="round"/>
            <path d="M12.3726 24.1653V21.1653" stroke="#652CD4" stroke-width="2" stroke-linecap="round"/>
        </svg>
    </span>
    <span v-else @click="toggleVisibility">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 20.5C16.9706 20.5 21 16.339 21 13.5C21 10.661 16.9706 6.5 12 6.5C7.02945 6.5 3 10.6639 3 13.5C3 16.3361 7.02945 20.5 12 20.5Z" fill="#652CD4" fill-opacity="0.8" stroke="#652CD4" stroke-width="2" stroke-linejoin="round"/>
            <path d="M12 16.5C13.6568 16.5 15 15.1568 15 13.5C15 11.8432 13.6568 10.5 12 10.5C10.3432 10.5 9 11.8432 9 13.5C9 15.1568 10.3432 16.5 12 16.5Z" fill="#22173F" fill-opacity="0.08"/>
            <path d="M6.63184 5.63306L7.92909 7.44316" stroke="#652CD4" stroke-width="2" stroke-linecap="round"/>
            <path d="M17.8124 5.8551L16.5151 7.6652" stroke="#652CD4" stroke-width="2" stroke-linecap="round"/>
            <path d="M12.0044 3.5V6.50001" stroke="#652CD4" stroke-width="2" stroke-linecap="round"/>
        </svg>
    </span>

</template>

<script>
export default {
    data: ()=> {
        return {
            isHidden: true,
        }
    },

    methods: {
        toggleVisibility() {

            this.$parent.$refs.refPassword.type === 'password'
            ? this.$parent.$refs.refPassword.type = 'text'
            : this.$parent.$refs.refPassword.type = 'password'

            return this.isHidden = !this.isHidden
        },

    },
}
</script>

<style scoped>
span {
    cursor: pointer;
    transform: translateX(20px);
}

</style>