<template>
  <span class="c-label">
    <label  :class="[ isClickedIn ? 'label-cliked' : '' ]">
      <span>{{ content }}</span>
    </label>
  </span>
</template>


<script>
export default {
  props: {
    content: {
      type: String,
      default: "",
    },
    isClickedIn: {
      type: Boolean,
      default: false
    },
  },
};
</script>


<style lang="scss" scoped>
@import "../../style/_variables.scss";

.c-label {
  label {
    @include subheading;
    display: inline-block;
    color: $black-60;
    transform: translate3d(0, 155%, 0);
    opacity: 0;
    transition: all 0.3s;
    // display: none;

  }
    .label-cliked{
        transform: translate3d(0, 0%, 0);
        opacity: 1;
    }
}
</style>






