<template>
    <div class="c-title-signin">
        <div class="c-line"></div>
        <h1 class="c-form--title">{{content}}</h1>
    </div>
</template>


<script>
export default {
    name: 'LineSign',
    props:{
        content:{
            type: String,
            default : ''
        }
    }
};
</script>


<style lang="scss" scoped>
@import "../../style/_variables.scss";
.c-title-signin{
    display: inline-block;
    position: relative;
    .c-form--title{
        @include heading;
    }
    .c-line {
      background:$primary-80;
      width: 100%;
      height: 10px;
      position: absolute;
      z-index: -1;
      bottom: 0;
      margin-bottom: 0.25rem;
    }
}
</style>
