<template>
    <span class='c-password-alert' :class="[ isClickedIn ? 'alert-cliked' : '' ]">
        <div :class="`alert-color alert-color--${content}`"></div>
        <span>{{content}}</span>
    </span>
</template>


<script>
export default {
    name : 'PasswordAlert',
    data: ()=>{
        return {
            content: 'Weak',
        }
    },
     props: {
        length:{
            type: Number,
            default: 0,
        },
        isClickedIn: {
            type: Boolean,
            default: false
        },
    },
    watch: {
        length() {
            if(this.length < 8) {
                this.content = 'Weak'
            } else if(this.length >= 8 && this.length < 11) {
                this.content = 'Medium'
            } else {
                this.content = 'Strong'
            }
        }
    }
}

</script>


<style lang="scss" scoped>

@import '../../style/_variables.scss';

.c-password-alert {
    @include caption-1;
    transform: translate3d(0, 155%, 0);
    opacity: 0;
    transition: all 0.3s;
    // display: none;

  }
.alert-cliked{
    transform: translate3d(0, 0%, 0);
    opacity: 1;
}

.alert-color {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;

    &--Weak {
        background: $error;
    }

    &--Medium {
        background: $medium;
    }

    &--Strong {
        background: $strong;
    }
}



</style>