<template>
  <button
    :class="
        [
            'c-button',
            `c-button--${type}`,
            `c-button--${size}`,
        ]
    ">
    <span>{{content}}</span>
    </button>
</template>

<script>
export default {
     props: {
        type: {
            type: String,
            required: true,
            default: 'primary',
        },
        size: {
            type: String,
            required: true,
            default: ''
        },
        content: {
            type: String,
            required: true,
            default: 'Register'
        },
        disabled: {
            type: Boolean,
            default: false,
        },
        link: {
            type: String,
            default: '/'
        }
    }
}
</script>

<style lang='scss' scoped>
@import "../../style/_variables.scss";

.c-button {
    @include subheading;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 25px;


    //SIZE
    &--large {
        width: $large-width;
        height: $large-height;
        border-radius: $default-radius;
    }

    &--medium {
        width: $medium-width;
        height: $large-height;
        border-radius: $default-radius;
    }

    &--small {
        width: $small-width;
        height: $small-height;
        border-radius: 24px;
    }
    &--none {
        margin: 0;
    }


    //TYPE
    &--primary {
        background: $primary-80;
        color: white;
        border: none;

        &:hover {
            background: $primary-100;
        }
    }

    &--secondary {
        background: white;
        color: $primary-100;
        border: solid 1px $primary-80;

        &:hover {
            color: white;
        }
    }

    &--tertiary {
        background: none;
        color: $primary-100;
        border: none;

        &:hover {
            color: $primary-80;
        }
    }
    &--tertiary-2 {
        @include eyebrow;
        background: none;
        color: $black-100;
        border: none;

        &:hover {
            color: $primary-100;
        }
    }

    // &:hover {
    //     background: $primary-100;
    // }

    &:focus {
        border: 1px solid $primary-80;
        outline: none;
        box-shadow: 0px 0px 0px 2px $primary-60;
    }

    &:disabled {
        background: $primary-60;
        cursor: not-allowed;
    }
}

</style>