<template>
  <div class="c-input">
    <div class="container-input">
      <template v-if="isPassword">
        <div class="label-container">
          <Label content="Password" :isClickedIn="isClicked" />
          <PasswordAlert :length="passwordLength" :isClickedIn="isClicked" />
        </div>
        <div>
          <input
            @input="isClicked = true"
            @change="checkPassword()"
            ref="refPassword"
            v-if="isPassword"
            v-model="password"
            type="password"
            placeholder="Password"
            maxlength="20"
            class="password"
          />
          <PasswordEyeIcon class="eye" />
          <!-- <p class="password-annotation">
            Must be contained between 8-20 characters
          </p> -->
            <p class="passewordForgot">
              <span>
                <Button
                    type="tertiary-2"
                    size="none"
                    content=" Forgot your password ?"
                />
                </span>
            </p>
        </div>
      </template>
      <template v-else>
        <Label content="Email" :isClickedIn="isClicked" />
        <div class="mail-input">
          <input
            @input="isClicked = true"
            @change="checkMail()"
            type="text"
            placeholder="Email"
            maxlength="75"
          />
          <template v-if="mailError">
            <ErrorIcon />
          </template>
        </div>
        <template v-if="mailError">
          <p class="mail-annotation">Your mail adress is invalid</p>
        </template>
      </template>
    </div>
  </div>
</template>


<script>
import Label from "../01-atoms/Label.vue";
import PasswordAlert from "../01-atoms/PasswordAlert.vue";
import PasswordEyeIcon from "../01-atoms/Icons/PasswordEyeIcon";
import ErrorIcon from "../01-atoms/Icons/ErrorIcon";
import Button from "../02-molecules/Button";

export default {
  props: {
    content: {
      type: String,
      default: "Password",
    },
    isPassword: {
      type: Boolean,
      default: false,
    },
  },
  data: () => {
    return {
      password: "",
      isClicked: false,
      seePassword: false,
      mailError: false,
    };
  },
  computed: {
    passwordLength() {
      return this.password.length;
    },
  },
  methods: {
    checkMail() {
      if (
        /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(
          event.target.value
        )
      ) {
        this.mailError = false;
        return (
          event.target.classList.remove("input-error"),
          event.target.classList.add("input-valide")
        );
      } else {
        this.mailError = true;
        return (
          event.target.classList.remove("input-valide"),
          event.target.classList.add("input-error")
        );
      }
    },
    checkPassword() {
      if (event.target.value.length > 8) {
        return (
          event.target.classList.remove("input-error"),
          event.target.classList.add("input-valide")
        );
      } else {
        return (
          event.target.classList.remove("input-valide"),
          event.target.classList.add("input-error")
        );
      }
    },
  },
  components: {
    Label,
    PasswordEyeIcon,
    PasswordAlert,
    ErrorIcon,
    Button
  },
};
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import "../../style/_variables.scss";

.c-input {
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  width: $large-width;
  height: 95px;
  position: relative;
  margin-bottom: 5px;

  .password-annotation,
  .mail-annotation {
    @include caption-2;
  }
  .mail-annotation {
    display: inline;
  }

  .label-container {
    display: flex;
    justify-content: space-between;
    width: $large-width;
  }

  .eye {
    position: absolute;
    right: 40px;
    margin-top: 10px;
  }
    p.passewordForgot{
        text-align: right;
    }
  input {
    @include body-font;
    width: $large-width;
    height: $large-height;
    padding: 10px 20px;
    border: none;
    border-radius: $default-radius;
    background-color: $black-8;
    &::placeholder {
      color: $black-20;
    }
    &:focus {
      color: $black-80;
      background-color: $primary-8;
      border: 2px solid $primary-100;
      outline: none;
    }
  }
  .mail-input {
    width: 320px;
    display: flex;
    align-items: center;
  }
  .input-valide {
    background-color: $primary-8;
    border: 2px solid $primary-100;
  }
  .input-error {
    background-color: $error-20;
    &::placeholder {
      color: $black-20;
    }
    &:focus {
      color: $black-80;
      background-color: $error-20;
      border-color: $error;
    }
  }
}
</style>






