@font-face {
  font-family: "Circular-Medium";
  src: url("../assets/fonts/Circular-Medium.ttf");
}

@font-face {
  font-family: "Circular-Bold";
  src: url("../assets/fonts/Circular-Bold.ttf");
}

@font-face {
  font-family: "Circular-Book";
  src: url("../assets/fonts/Circular-Book.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/fonts/Roboto-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  src: url('../assets/fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: "Roboto-Bold";
  src: url('../assets/fonts/Roboto-Bold.woff2') format('woff2');
}
