//COLORS

$primary-100: rgba(101, 44, 212, 1);
$primary-80: rgba(101, 44, 212, 0.8);
$primary-60: rgba(101, 44, 212, 0.6);
$primary-40: rgba(101, 44, 212, 0.4);
$primary-20: rgba(101, 44, 212, 0.2);
$primary-8: rgba(101, 44, 212, 0.08);

$secondary-100: rgba(34, 23, 63, 1);
$secondary-80: rgba(34, 23, 63, 0.8);
$secondary-60: rgba(34, 23, 63, 0.6);
$secondary-40: rgba(34, 23, 63, 0.4);
$secondary-20: rgba(34, 23, 63, 0.2);
$secondary-8: rgba(34, 23, 63, 0.08);

$black-100: rgba(0, 0, 0, 1);
$black-80: rgba(0, 0, 0, 0.8);
$black-60: rgba(0, 0, 0, 0.6);
$black-40: rgba(0, 0, 0, 0.4);
$black-20: rgba(10, 8, 8, 0.2);
$black-8: rgba(0, 0, 0, 0.08);

$bg: #f3eefc;
$error: #ea4335;
$error-20: #ea433520;
$medium: #fbbc04;
$strong: #34a853;

// WIDTH && HEIGHT
$large-width: 300px;
$medium-width: 140px;
$small-width: 110px;
$large-height: 48px;
$small-height: 36px;

//RADIUS
$default-radius: 12px;
//TEXT

@mixin caption-1 {
  font-family: "Roboto-Bold";
  font-size: 14px;
}

@mixin heading {
  font-family: "Circular-Bold";
  font-size: 36px;
}

@mixin subheading {
  font-family: "Circular-Medium";
  font-size: 18px;
}

@mixin body-font {
  font-family: "Circular-Book";
  font-size: 16px;
}

@mixin eyebrow {
  font-family: "Circular-Book";
  font-size: 12px;
}

@mixin caption-2 {
  font-family: "Roboto";
  font-size: 12px;
  font-style: italic;
}
