<template>
    <div class="c-form">
        <div class="c-form--container">
            <LineSign :content="content"/>
            <p :class="
                [
                    'register',
                    forLoging ? '' : 'forget-pasword',
                ]
                ">
                {{contentInputPar}}
                <template v-if="forLoging" >
                    <span>
                        <Button
                            type="tertiary"
                            size="none"
                            :content="content ==='Sign in' ? 'Register' : 'Sing in'"
                        />
                    </span>
                </template>
            </p>
            <Input/>
            <template v-if="forLoging">
                <Input :isPassword="true"/>
            </template>
            <template v-if="!forLoging" >
                <p class="remember-pasword">
                    Remember password ?
                    <span>
                        <Button
                            type="tertiary"
                            size="none"
                            content="Login"
                        />
                    </span>
                </p>
            </template>

      <Button size="large" type="primary" :content="contentButton" />
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
import Input from '../02-molecules/Input';
import Button from '../02-molecules/Button';
import LineSign from '../01-atoms/LineSign';

export default {
  props: {
    content: {
      type: String,
      default: 'Sign in',
    },
    forLoging: {
      type: Boolean,
      default: true,
    },
    components: {
        Input,
        Button,
        LineSign
    }
}
</script>

<style lang="scss" scoped>
@import '../../style/_variables.scss';
.c-form {
  margin-top: 100px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  transform: translateY(-20%);

  &--container {
    width: 60%;
    margin: 0 auto;
  }

  &--title {
    @include heading;
    color: $secondary-100;
  }

  .register {
    @include subheading;
    margin-bottom: 15px;
    color: $black-100;
  }
  .forget-pasword {
    @include body-font;
    width: 350px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: $black-100;
  }
  .remember-pasword {
    @include body-font;
    color: $black-100;
    transform: translateY(-20px);
  }
}
</style>