<template>
  <div class="c-thumbnail">
      <img :src="require(`../../assets/images/${contentImg}.png`)" alt="thumbnail">

  </div>
</template>

<script>

export default {
	name: 'Thumbnail',
	props: {
		contentImg: {
			type: String,
			default: "sign-in",
		},
	}
}
</script>

<style lang='scss' scoped>
div{
	width: 100%;
	img{
		width: 100%;
    height: 100%;
	}
}

</style>