<template>
      <div class="c-forgot-password">
        <Form v-bind="{ content: 'Forgot Password ?', forLoging:false }" />
        <Thumbnail contentImg="sign-up" />
      </div>
</template>

<script>
import Thumbnail from '../03-sections/Thumbnail.vue'
import Form from '../03-sections/Form.vue'

export default {
  name: 'ForgotPassword',
  components: {
    Form,
    Thumbnail
  }
}
</script>

<style lang="scss">
.c-forgot-password{
    display: flex;
    justify-content: space-between;
}

</style>
