<template>
      <div>
        <Thumbnail contentImg="sign-up"/>
        <Form v-bind="{ content: 'Sign up' }" />
      </div>
</template>

<script>
import Thumbnail from '../03-sections/Thumbnail.vue'
import Form from '../03-sections/Form.vue'

export default {
  name: 'SignUp',
  components: {
    Form,
    Thumbnail
  }
}
</script>

<style lang="scss">
main{
    display: flex;
    justify-content: space-between;
}

</style>
