<template>
      <div class="c-signin">
        <Form  content="Sign in"/>
        <Thumbnail />
    </div>
</template>

<script>
import Thumbnail from '../03-sections/Thumbnail.vue'
import Form from '../03-sections/Form.vue'

export default {
  name: 'SignIn',
  components: {
    Form,
    Thumbnail
  }
}
</script>

<style lang="scss">
.c-signin{
    display: flex;
    justify-content: space-between;
}

</style>
