<template>
  <div id="app">
    <main>
      <!-- <Form content="Sign In" /> -->
      <!-- <Form content="Sign Up" /> -->
      <Form content="Sign Up" />
      <Thumbnail />
    </main>
  </div>
</template>

<script>
import Thumbnail from './components/04-pages/SignIn.vue';
// import Form from './components/03-sections/Form.vue'

export default {
  name: 'App',
  components: {
    // Form,
    Thumbnail,
  },
};
</script>

<style lang="scss">
// main{
//     display: flex;
//     justify-content: space-between;
// }
</style>
